@keyframes fade-in-animation {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

.fade-in {
	animation: fade-in-animation 0.25s ease-in forwards;
}

.fade-out {
	animation: fade-in-animation 0.25s ease-in forwards;
	animation-direction: reverse;
}

/* For Vue's Transition element */
/* BUG: Doens't play the reverse animation (from not-visible to visible) */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
