.flex-container-center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.grid-container {
	display: grid;
	grid-row-gap: 0.8em;
	grid-column-gap: 0.8em;
	grid-template-areas: "a";
}

@media only screen and (min-width: 840px) {
	.grid-container {
		grid-template-areas: "a a a";
	}
}