/* The Orientation Marker above the title in PoI/Event/Itinerary/Service Pages */
.category {
	margin: 0;
}

h1,
h2,
h3 {
	font-family: var(--font-family-heading);
}

h1 {
	margin: var(--space-1) 0;
}

h2 {
	margin: var(--space-2) 0 var(--space-1);
}

p {
	margin: var(--space-1) 0;
}
