:root {
	/* https://coolors.co/494331-878472-d6d6b1-b44418-e46a3a */
	--color-accent: #e46a3a;
	--color-accent-dark: #b44418;
	--color-light: #d6d6b1;
	--color-neutral: #878472;
	--color-dark: #494331;

	--font-family-heading: "Playfair Display", serif;
	--font-family-body: "Work Sans", sans-serif;

	--font-size-body: 1rem;
	--font-size-header-links: 2rem;
	--font-size-header-title: 1.3rem;
	--font-size-header-menu: 1.2rem;
	--font-size-button: 1.1rem;

	--space-y-0: 0.5rem;
	--space-y-1: 1rem;
	--space-y-2: 2rem;
	--space-y-3: 3rem;

	--step-height: 9em;

	--max-width: 920px;

	--border-radius: 16px;

	/* Make 3 columns */
	--grid-template-columns: 1fr;
}

@media screen and (min-width: 840px) {
	:root {
		--grid-template-columns: 1fr 1fr 1fr;
		--font-size-header-links: 1.1rem;
		--font-size-header-title: 1.3rem;
	}
}

* {
	box-sizing: border-box;
}
