:root {
	/* https://coolors.co/494331-878472-d6d6b1-b44418-e46a3a */
	--color-accent: #f25b1f;
	--color-accent-dark: #b13d0f;
	--color-light-transparent: rgba(255, 255, 255, 0.33);
	--color-light: #f3f3ce;
	--color-neutral: #878472;
	--color-dark: #403b2a;
	--color-darker: #222222;

	--font-family-heading: "Playfair Display", serif;
	--font-family-body: "Work Sans", sans-serif;

	--font-size-body: 1rem;
	--font-size-heading: 2.5rem;
	--font-size-header-links: 2rem;
	--font-size-header-title: 1.7rem;
	--font-size-header-menu: 1.2rem;
	--font-size-button: 1.1rem;
	--font-size-season-button: 1.3rem;
	--font-size-category: 1.2rem;

	--space-0: 0.5rem;
	--space-1: 1rem;
	--space-2: 2rem;
	--space-3: 3rem;

	--image-height: 7em;
	--image-highlight-height: 18em;

	--max-width: 920px;

	--border-radius: 16px;

	/* Make 3 columns */
	--grid-template-columns: 1fr;

	--navigator-step-height: 9em;
	--navigator-template-columns: 1fr;
}

@media screen and (min-width: 580px) {
	:root {
		--grid-template-columns: 1fr 1fr;
		--navigator-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 840px) {
	:root {
		--grid-template-columns: 1fr 1fr 1fr;
		--font-size-header-links: 1.1rem;
	}
}

* {
	box-sizing: border-box;
}
