:root {
	/* https://coolors.co/494331-878472-d6d6b1-c54b1b-e46a3a */
	--color-accent: #e46a3a;
	--color-accent-dark: #c54b1b;
	--color-bg-light: #d6d6b1;
	--color-bg: #878472;
	--color-bg-dark: #494331;
}
